*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: "Jost", sans-serif;
}

.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slider {
    position: absolute;
    inset: 0;
}

.slider-img {
    position: absolute;
    /* z-index: -1; */
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.2s linear;
}

.slider-img.current {
    /* z-index: 1; */
    opacity: 1;
}

.slider button {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    width: 15%;
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 2rem;
    background-color: #f1f1f1;
    cursor: pointer;
}

.slider-items {
    position: absolute;
    z-index: 10;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.slider-item {
    position: relative;
    width: 13.5rem; /* 200px */
    height: 6rem; /* 64px */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.slider-item > * {
    pointer-events: none;
}

.slider-item:not(:first-child) {
    border-top: 1px solid rgba(241, 241, 241, 0.5);
}

/* Marqueur vertical blanc */
.slider-item.current::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0.2rem;
    height: 100%;
    background-color: #f1f1f1;
}

.slider-item.current::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.7);
    animation: filling 4s linear;
}

@keyframes filling {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.slider-item p {
    font-size: 1.4rem;
    color: #f1f1f1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.thumbnail {
    width: 4rem;
    height: 4rem;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (width <= 596px) {
    .slider button {
        display: block;
        min-width: 80%;
    }
}

@media screen and (width <= 1024px) {
    .slider-container {
        position: relative;
    }

    .slider-items {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 4rem);
        gap: 0.5rem;
        place-content: center;
    }
    .slider-item {
        padding: 0.1rem;
        border: none;
        width: 4rem;
        height: auto;
        background-color: rgba(241, 241, 241, 0.6);
    }

    .slider-item.current::after {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .slider-item:not(:first-child) {
        border: none;
    }

    .slider-item p,
    .slider-item img,
    .slider-item.current::before {
        display: none;
    }

    .slider button {
        display: block;
        width: 30%;
    }
}
